---
import type { CollectionEntry } from "astro:content";
import Link from "@/components/Link";
import { formatDate } from "@/lib/utils";
type Props = {
  post: CollectionEntry<"blog"> | CollectionEntry<"work-blog">;
};
const {
  post: {
    data: { title, date, description },
    slug,
  },
} = Astro.props;
---

<article class="flex justify-between max-sm:w-sm max-w-2xl">
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-center gap-2">
      <Link href={`/blog/${slug}`} className="truncate max-sm:w-sm">
        <span class="truncate">{title}</span>
      </Link>
      <span class="text-muted-foreground text-xs">{formatDate(date)}</span>
    </div>
    <span class="truncate text-xs text-muted-foreground md:text-wrap"
      >{description}</span
    >
  </div>
</article>
