---
import type {CollectionEntry} from 'astro:content'
import Link from '@/components/Link'
import { formatDate } from '@/lib/utils'
type Props = {
    post: CollectionEntry<"blog">
}
const {
    post: {
    data:{
        title, date
    },
    slug
}
} = Astro.props
---

<article class="flex justify-between">
    <Link href={`/blog/${slug}`}>
        <span>{title}</span>
    </Link>
    <span>{formatDate(date)}</span>
</article>

