---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@/lib/utils";
import Link from "./Link";

type Props = {
  post: CollectionEntry<"blog"> | CollectionEntry<"work-blog">;
};

const {
  post,
  post: {
    data: { title, description, date, isDraft },
    slug,
  },
} = Astro.props;
---

<article class="flex flex-col gap-3">
  <Link href={`/blog/${slug}`}>
    <span class="text-lg font-semibold">{title}</span>
  </Link>
  <span class="truncate">{description}</span>
  <span>{formatDate(date)}</span>
</article>
